<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="U2Pplay Maj Forcée db HK² (Sans bannière)">
        <setting label="Maj Forcée HK²" type="lsep" />
        <setting id="forcemajrapide" label="Lancer Maj Forcée HK² Rapide" type="action" action="RunScript(special://home/addons/service.majhk/U2PplayFast.py,True)"/>
        <setting id="forcemajskin" label="Lancer Maj Forcée HK² et Skin rafraîchissement " type="action" action="RunScript(special://home/addons/service.majhk/U2Pplay.py,True)"/>
        <setting label="Maj Auto db HK² (Avec bannière)" type="lsep" />
        <setting id="intmaj" label="INTERVALLE (minutes) entre chaque Maj Auto avec bandeau nouveautés (0=desactivé)" type="labelenum" values="0|5|15|30|45|60|120|240" default="0"/>
        <setting id="delaimaj" label="DELAI (minutes) lancement Maj avec bandeau nouveautés au demarrage Kodi" type="number" default="0"/>
        <setting id="rskin" label="Refresh skin aprés Maj" type="bool" default="false" />
    </category>
    <category label="U2Pplay Maj Forcée db HK² (Avec bannière)">
        <setting id="forcemajbanniere" label="Lancer MAJ Forcée HK² (Avec bannière)" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=majhkcron)" />
    </category>

</settings>
