<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="U2Pplay Maj Forcée db HK²">
        <setting label="Maj Auto HK²Config" type="lsep" />
        <setting label="Maj Auto HK²Choisir INTERVALLE et DELAI" type="lsep" />
        <setting id="configmajbanniere" label="Choisir INTERVALLE et DELAI Maj Auto HK²" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=intmajbann15)" />
        <setting id="skinhk2" label="Rafraichissement du skin après Maj" type="bool" default="false" />
        <setting id="skinrefresh" label="Activer Rafraichissement du skin après Maj" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=rskin2)" visible="eq(-1,true)"/>
        <setting id="skinrefresh3" label="Désactiver Rafraichissement du skin après Maj" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=rskin3)" visible="eq(-2,true)"/>
        <setting label="Maj Forcée HK²" type="lsep" />
        <setting id="forcemajbanniere" label="Lancer Maj Forcée HK² (Avec bannière)" type="action" action="RunPlugin(plugin://plugin.video.sendtokodiU2P/?action=majhkcron)" />
        <setting id="forcemajrapide" label="Lancer Maj Forcée HK² Rapide (Sans bannière)" type="action" action="RunScript(special://home/addons/service.majhk/resources/lib/U2PplayFast.py,True)"/>
        <setting id="forcemajskin" label="Lancer Maj Forcée HK² et Skin rafraîchissement (Sans bannière)" type="action" action="RunScript(special://home/addons/service.majhk/resources/lib/U2Pplay.py,True)"/>
    </category>

</settings>
